{% extends "layout.html" %}

{% block body %}
<h2>進数変換</h2>
<br>

<form  action='{{url_for("view.base_conversion_view")}}' method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="InputBin">2進数</label>
    <input type="text" name="bin" class="form-control" id="InputBin" value="{{bin}}">
  </div>
  <div class="form-group">
    <label for="InputOct">8進数</label>
    <input type="text" name="oct" class="form-control" id="InputOct" value="{{oct}}">
  </div>
  <div class="form-group">
    <label for="InputDec">10進数</label>
    <input type="text" name="dec" class="form-control" id="InputDec" value="{{dec}}">
  </div>
  <div class="form-group">
    <label for="InputHex">16進数</label>
    <input type="text" name="hex" class="form-control" id="InputHex" value="{{hex}}">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">計算</button>
</form>
<br>
<form  action='{{url_for("view.base_conversion_view")}}' method="get" enctype="multipart/form-data">
  <button type="submit" class="btn btn-danger">全削除</button>
</form>

{% endblock %}
