{% extends "layout.html" %}

{% block body %}
<h2>微分</h2>
<br>

<form  action='{{url_for("view.derivative_view")}}' method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="InputFormula">被微分関数 f を入力してください</label>
    <input type="text" name="formula" class="form-control" id="InputFormula" value="{{formula}}" placeholder="function">
  </div>
  <div class="form-group">
    <label for="InputA">
      f<sub>x</sub>⇒x　　f<sub>y</sub>⇒y　　f<sub>xx</sub>⇒xx　　f<sub>xy</sub>⇒xy　　
      f<sub>yx</sub>⇒yx　　f<sub>yy</sub>⇒yy　　を入力してください
    </label>
    <input type="text" name="a" class="form-control" id="InputA" value="{{a}}">
  </div>

  <br>
  <button type="submit" class="btn btn-primary btn-block">計算</button>
  <br><br><br>
</form>

<h2>{{anser_0}}<br><br>{{anser_1}}<sub>{{anser_2}}</sub>{{anser_3}}</h2>

{% endblock %}
