{% extends "layout.html" %}

{% block body %}
<h2>入力上の注意</h2>
<br>

<h4>1.式の入力</h4>
<ul>
  <li>対応している関数は<a href="https://www.sympy.org/en/index.html" target="_blank" class="heading2">sympy</a>を参照</li>
  <li>変数には()をつけてください</li>
  <li>積は*、指数は**を用いて入力</li>
</ul>
<h6>例　sin(xy<sup>2</sup>)を入力するとき</h6>
<div class="form-control">
  <div class="form-group">
    <label for="InputFormula">関数を入力してください</label>
    <input type="text" class="form-control" id="InputFormula" placeholder="sin(x*y**2)" disabled>
  </div>
</div>

<br><br>

<h4>2.行列の入力</h4>
<ul>
  <li>入力できる数は-9~9の整数(半角)のみ</li>
  <li>正の整数を入力するときは1つ前の整数から2文字開ける(1列目を入力するときは1文字)</li>
  <li>負の整数を入力するときは1つ前の整数から1文字開ける(1列目を入力するときは0文字)</li>
  <li>最も右の列の右にスペースや文字を入力しないでください</li>
  <li>行列の入力欄の下にある入力欄に行列の型を入力してください</li>
</ul>
<h6>例</h6>
<div class="form-control">
  <!-- 行列Aの入力 -->
  <div class="form-group">
    <label for="InputMatrix">行列を入力してください</label>
    <textarea class="form-control" id="InputMatrix" name=matrix rows="3" disabled>
○0○○1○ー2××
ー3○ー4○○5××
    </textarea>
  </div>
  <!-- Ar,Acの入力 -->
  <div class="form-row align-items-center">
    <div class="col-6">
      <div class="input-group">
        <input type="text" placeholder="2" class="form-control" aria-describedby="Ar" disabled>
        <div class="input-group-append">
          <span class="input-group-text" id="Ar">行</span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="input-group">
        <input type="text" placeholder="3" class="form-control" aria-describedby="Ac" disabled>
        <div class="input-group-append">
          <span class="input-group-text" id="Ac">列</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock%}
