{% extends "layout.html" %}

{% block body %}
<h2>積分</h2>
<br>

<form action='{{url_for("view.integral_view")}}' method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="InputFormula">被積分関数を入力してください</label>
    <input type="text" name="formula" class="form-control" id="InputFormula" value="{{formula}}" placeholder="function">
  </div>
  <div class="form-group">
    <label for="InputUpperEnd">上端を入力してください</label>
    <input type="text" name="upper_end" class="form-control" id="InputUpperEnd" value="{{upper_end}}" placeholder="upper_end">
  </div>
  <div class="form-group">
    <label for="InputLowerEnd">下端を入力してください</label>
    <input type="text" name="lower_end" class="form-control" id="InputLowerEnd" value="{{lower_end}}" placeholder="lower_end">
  </div>
  <div class="form-group">
    <label for="InputType">0→定積分 1→定積分(浮動小数点数)　2→不定積分</label>
    <input type="text" name="type" class="form-control" id="InputType" value="{{type}}">
  </div>
  
  <br>
  <button type="submit" class="btn btn-primary btn-block">計算</button>
</form>

<br><br><br>
<h1>{{anser}}</h1>

{% endblock %}
