<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Math</title>

    <!-- bootstrapのインポート -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- スタイルシート -->
    <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" type="text/css">
    <link rel=stylesheet href="static/style.css">

  </head>


  <body>
    <div class="container">

      <!-- ナビゲーションバー -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('view.index_view')}}">Flask Math</a>
      </nav>

      <!-- flash -->
      {% for message in get_flashed_messages() %}
      <div class="alert alert-info" role="alert">
        {{message}}
      </div>
      {% endfor %}

      <!--本文 -->
      <div class="blog-body">
        {% block body %}

        {% endblock%}
      </div>

    </div>
  </body>
</html>
