{% extends "layout.html" %}

{% block body %}
<h2>行列</h2>
<br>

<form action='{{url_for("view.matrix_view")}}' method="post" enctype="multipart/form-data">
  <!-- 行列Aの入力 -->
  <div class="form-group">
    <label for="InputMatrix">行列Aを入力してください</label>
    <textarea class="form-control" id="InputMatrix" name=matrix rows="6">{{matrix}}</textarea>
  </div>

  <!-- Ar,Acの入力 -->
  <div class="form-row align-items-center">
    <div class="col-6">
      <div class="input-group">
        <input type="text" name="Ar" value="{{Ar}}" placeholder="integer" class="form-control" aria-describedby="Ar">
        <div class="input-group-append">
          <span class="input-group-text" id="Ar">行</span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="input-group">
        <input type="text" name="Ac" value="{{Ac}}" placeholder="integer" class="form-control" aria-describedby="Ac">
        <div class="input-group-append">
          <span class="input-group-text" id="Ac">列</span>
        </div>
      </div>
    </div>
  </div>

  <br><br>

  <!-- 演算の選択 -->
  <div align="center">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio0" value="0" checked="checked">
      <label class="form-check-label" for="inlineRadio0">A</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="1">
      <label class="form-check-label" for="inlineRadio1">n乗</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="2">
      <label class="form-check-label" for="inlineRadio2">転置</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio3" value="3">
      <label class="form-check-label" for="inlineRadio3">逆行列</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio4" value="4">
      <label class="form-check-label" for="inlineRadio4">余因子行列</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio5" value="5">
      <label class="form-check-label" for="inlineRadio5">行列式</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio6" value="6">
      <label class="form-check-label" for="inlineRadio6">階数</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio7" value="7">
      <label class="form-check-label" for="inlineRadio7">トレース</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio8" value="8">
      <label class="form-check-label" for="inlineRadio8">固有値</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio9" value="9">
      <label class="form-check-label" for="inlineRadio9">対角化行列</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio10" value="10">
      <label class="form-check-label" for="inlineRadio10">対角行列</label>
    </div>
  </div>

  <br>
  <button type="submit" class="btn btn-primary btn-block">計算</button>
</form>

<br><br><br>
<div style="display:inline-flex">
  <div>
    <h1>{{anser_3}}</h1>
  </div>
  <div>
    {% for anser in anser_0 %}
    <h1>{{ anser }}</h1>
    {% endfor %}
  </div>
</div>

{% endblock %}
