{% extends "layout.html" %}

{% block body %}
<h2>行列の演算</h2>
<br>

<form action='{{url_for("view.matrix_2_view")}}' method="post" enctype="multipart/form-data">

  <!-- Aの入力 -->
  <div class="form-group">
    <label for="InputMatrixA">行列Aを入力してください</label>
    <textarea class="form-control" id="InputMatrixA" name=matrixA rows="4">{{matrixA}}</textarea>
  </div>
  <!-- r,cの入力 -->
  <div class="form-row align-items-center">
    <div class="col-6">
      <div class="input-group">
        <input type="text" name="Ar" id="formula" value="{{Ar}}" placeholder="integer" class="form-control" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">行</span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="input-group">
        <input type="text" name="Ac" id="formula" value="{{Ac}}" placeholder="integer" class="form-control" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">列</span>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!-- Bの入力 -->
  <div class="form-group">
    <label for="InputMatrixB">行列Bを入力してください</label>
    <textarea class="form-control" id="InputMatrixB" name=matrixB rows="4">{{matrixB}}</textarea>
  </div>
  <!-- r,cの入力 -->
  <div class="form-row align-items-center">
    <div class="col-6">
      <div class="input-group">
        <input type="text" name="Br" id="formula" value="{{Br}}" placeholder="integer" class="form-control" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">行</span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="input-group">
        <input type="text" name="Bc" id="formula" value="{{Bc}}" placeholder="integer" class="form-control" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">列</span>
        </div>
      </div>
    </div>
  </div>

  <br><br>

  <!-- k,lの入力 -->
  <div class="form-row align-items-center">
    <div class="col-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">k</div>
        </div>
        <input type="text" name="k" class="form-control" value="{{k}}" placeholder="integer" id="inlineFormInputGroupUsername">
      </div>
    </div>
    <div class="col-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">l</div>
        </div>
        <input type="text" name="l" class="form-control" value="{{l}}" placeholder="integer" id="inlineFormInputGroupUsername">
      </div>
    </div>
  </div>

  <br>
  <!-- 演算の選択 -->
  <div align="center">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio0" value="0" checked="checked">
      <label class="form-check-label" for="inlineRadio0">A</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="1">
      <label class="form-check-label" for="inlineRadio1">B</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="2">
      <label class="form-check-label" for="inlineRadio2">kA+lB</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio3" value="3">
      <label class="form-check-label" for="inlineRadio3">AB</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio4" value="4">
      <label class="form-check-label" for="inlineRadio4">BA</label>
    </div>
  </div>

  <br>
  <button type="submit" class="btn btn-primary btn-block">計算</button>
</form>

<br><br><br>
<div style="display:inline-flex">
  <div class="">
    <h1>{{anser_1}}</h1>
  </div>
  <div>
    {% for anser in anser_0 %}
    <h1>{{ anser }}</h1>
    {% endfor %}
  </div>
</div>

{% endblock %}
